*{
    box-sizing: border-box;
}

.body{
    background: #F5F5F7;
    font-family: 'Inter', sans-serif;
}
.wrapper{
    background-color: #000000;
    max-width: 1920px;
    height: 113px;
    display: flex;
    justify-content:center;
}
.header{
    display: flex;
    justify-content:space-around;
    align-items:center;
    height: 113px;
    width:1050px;
}
a{
    text-decoration: none;
    color: #717171;
    
}
.header ul{
    display: flex;
    align-items:center;
    gap:30px;
}
.header img{
    height: 47px;
    width: 39px;
    align-items:center;
}
.ipone_14_wrapper{
    margin-top:71px;
    display:flex;
    background: #F5F5F7;
    justify-content: center;
}
.ipone_14{
    max-width: 1920px;
    display:flex;
    flex-direction:column;
    justify-content: center;
}
.ipone_14 h1{
    margin:0 auto;
    color: #490E84;
    font-size: 64px;
}
.ipone_14 img{
    width:75%;
    margin:0 auto;
    margin-top:40px;
    height:70%;
    margin-bottom:25px;
}
.ipone_14 button{
    margin:0 auto;
    color:white;
    background: #490E84;
    border-radius: 30px;
    border:none;
    width:250px;
    height:50px;
}
.info_iphone{
    margin-right:63px;
    width: 560px;
}
.info_iphone p{
    width: 559px;
    font-size:14px;
}
.info_iphone_wrapper{
    margin-top:40px;
    display: flex;
    justify-content: center;
}
.news_wrapper{
    display: flex;
    color: #717171;
    margin-top:100px;
    justify-content: center;
    font-size:32px;
}
.bold{
    color: #0A0A0A;
    line-height: 130%;
    font-size:20px;
    width: 560px;
    font-weight: 700;
}
.color_wrapper{
    margin-top:40px;
    display: flex;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    justify-content: center;
    color: #717171;
}
.iphone_color{
    display: flex;
    width:1200px;
    justify-content: space-between;
}
.iphone_color_wrapper{
    display: flex;
    justify-content: center;
}
.iphone_color_wrapper p{
    text-align: center;
}
.color_iphone{
   margin-top:10px;
   font-style: normal;
   font-weight: 400;
   font-size: 14px;
   line-height: 130%;
}
.color_iphone_bold{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    margin-top:20px;
}
.wrapper_form{
    display: flex;
    margin-bottom:-4px;
    margin-top:150px;
    justify-content: center;
}
.form{
    background: #574B63;
    width:400px;
    color:white;
    height:400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.foto_form img{
    height:400px;
    width:400px;
}
input{
    width:200px;
    border:none;
    border-bottom:1px solid white;
    line-height:120%;
    background-color: #ffffff00;
    margin-top:20px
}
form{
    display:flex;
    flex-direction: column;
}
.form h1{
    font-style: normal;
    font-weight: 700;
    margin-bottom:40px;
    font-size:25px;
    line-height: 39px;
}
.form p{
    margin:30px 0;
    font-size:12px;
    opacity: 0.5;
}
.form button{
    background-color: #fff;
    border:none;
    width:200px;
    height:40px;
    border-radius:30px;
}
.wrapper_footer{
    background-color: #000000;
    max-width:1920px;
    height:150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer{
    width:960px;
    display: flex;
    justify-content: space-between;
}